html {
    font-family: "Montserrat", sans-serif;
}

.max-width {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 400px;
    z-index: 111;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    
    @media (max-width: 760px) {
        height: 450px;
     }
     @media (max-width: 560px) {
        margin-bottom: 10px;
     }
}

.header__background-img {
    width: 100%;
    height: auto;
    position: absolute;
    top: -100px;
    left: 0;
    z-index: -1;
    
    @media (max-width: 900px) {
        top: 0;
    }
    @media (max-width: 760px) {
        top:auto;
        bottom: 0;
        width: 130%;
    }
    @media (max-width: 480px) {
        width: 180%;
        bottom: 0;
    }
}

.wrapper {
    width: 100%;
    background-color: white;
    z-index: 100;
    height: 100px;
}

.navigation-bar {
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    z-index: 20;
    @media (max-width: 760px) {
        flex-direction: column;
        align-items: center;
    }
}
.hamburger {
    font-size: 20px;
    cursor: pointer;
}
.navigation-bar__hamburger {
    display: none;
    width:100%;
    text-align: center;
    @media (max-width: 760px) {
        display: block;
        margin-top: 15px;
    }

}
.navigation-bar__logo {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    @media (max-width: 760px) {
        position: static;
        left:auto;
        top:auto;
        z-index: 10000;
        width: 100%;
        text-align: center;
        background-color: #fff;
    }
}

.logo-img {
  padding: 30px 30px;
  background-color: #fff;
  width: 200px;

  @media (max-width: 560px ) {
      padding: 10px 20px;
  }
}

.navigation-bar__list {
    justify-content: flex-end;
    padding-left: 220px;
    @media (max-width: 760px) {
        position: relative;
        top: -100px;
        display: flex;
        height: 0;
        flex-direction: column;
        flex-basis: 100%;
        padding: 0;
        align-items: center;;
    }
}
.hamburger-open {
    top: auto;
    height: auto;
}
.navigation-bar__list-item {
    
    text-transform: uppercase;
    font-size: 15px;
    padding: 27px 15px;
    font-weight: 600;
    position: relative;
    color: #262626;

    &::before {
        content: "";
        height: 0px;
        width: 100%;
        background-color: red;
        transition: height 0.15s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
    }
    &:hover::before  {
        height: 5px;
       
    }
    @media (max-width: 760px) {
        flex-basis: 100%;
        padding: 15px;
        font-size: 14px;
    }
}

.list-item--active {
    &::after {
        content: "";
        height: 5px;
        width: 100%;
        background-color: red;
        transition: height 0.15s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
    }
}

